
<form action="../php/control_school/add_group.php" method="POST">
	
	Grado: <select name="grado">
		<option value="1">1ro</option>
		<option value="2">2do</option>
		<option value="3">3ro</option>
	</select><br>
	Grupo: <select name="grupo">
		<option value="a">A</option>
		<option value="b">B</option>
		<option value="c">C</option>
		<option value="d">D</option>
		<option value="e">E</option>
		<option value="f">F</option>
	</select><br>
	Turno: <select name="turno">
		<option value="m">Matutino</option>
		<option value="v">Vespertino</option>
	</select><br>
	Ciclo: <select name="ciclo">
		<option value="ago/2017 - jul/2018">ago/2017 - jul/2018</option>
		<option value="ago/2018 - jul/2019">ago/2018 - jul/2019</option>
		<option value="ago/2019 - jul/2020">ago/2019 - jul/2020</option>
		<option value="ago/2020 - jul/2021">ago/2020 - jul/2021</option>
		<option value="ago/2021 - jul/2022">ago/2021 - jul/2022</option>
		<option value="ago/2022 - jul/2023">ago/2022 - jul/2023</option>
		<option value="ago/2023 - jul/2024">ago/2023 - jul/2024</option>
		<option value="ago/2024 - jul/2024">ago/2024 - jul/2025</option>
	</select><br>
	<input type="submit" name="agregarstudent">

</form>
