
<form class="form-horizontal" action="../php/admin/add_user.php" method="POST">
	
	 <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nombres:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Ingresar Nombres" name="name">
      </div>
    </div>


	Nombrres: <input type="text" name="name"><br>
	Apellidos: <input type="text" name="lastname"><br>
	Usuario: <input type="text" name="user"><br>
	Contraseña: <input type="password" name="pass"><br>
	Repetir contraseña <input type="password" name="passr"><br>
	Tipo de usuario <select name="privileges">
		<option value="3" selected>Docente</option>
		<option value="2">Control Escolar</option>
		<option value="1">Administrador</option>
	</select><br>
	<input type="submit" name="agregarUser">

</form>
